@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("@fontsource/noto-sans-tc/files/noto-sans-tc-latin-400-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("@fontsource/noto-sans-tc/files/noto-sans-tc-latin-500-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("@fontsource/noto-sans-tc/files/noto-sans-tc-latin-700-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("@fontsource/noto-sans-tc/files/noto-sans-tc-chinese-traditional-400-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("@fontsource/noto-sans-tc/files/noto-sans-tc-chinese-traditional-500-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("@fontsource/noto-sans-tc/files/noto-sans-tc-chinese-traditional-700-normal.woff2") format("woff2");
}
